
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<%= render partial: 'friend_form', locals: {user: @user} %>

<h3>Friends:</h3>
<div id="friends">
  <%= render @user.friends %>
</div>

<h3>Posts:</h3>
<%= render @user.posts %>